.story-container {
    display: flex;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.left-part {
    flex: 1;
}

.right-part {
    flex: 9;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.story-score {
    align-items: center;
    vertical-align: middle; 
}

.story-url {
    flex-wrap: wrap;
}

.thumbnail {
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
}


