.story-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.left-part {
    flex: 1;
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-score {
    align-items: center;
    vertical-align: middle; 
}

.thumbnail {
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
}


